{% set nonceStyle = csp_nonce('style') %}
{% set nonceScript = csp_nonce('script') %}
<!DOCTYPE html>
<html lang="en">
<link nonce="{{ nonceStyle }}" href="{{ asset('assets/sigla.ico') }}" rel="icon" type="image/icon" />
<link nonce="{{ nonceStyle }}" href="{{ asset('assets/css/all.min.css') }}" rel="stylesheet" type="text/css">
<link nonce="{{ nonceStyle }}" href="{{ asset('assets/css/google_fonts.css') }}" rel="stylesheet">
<link nonce="{{ nonceStyle }}" href="{{ asset('assets/css/sb-admin-2.min.css') }}" rel="stylesheet" type="text/css" />
<link nonce="{{ nonceStyle }}" href="{{ asset('assets/css/custom.css') }}" rel="stylesheet" type="text/css">
<link nonce="{{ nonceStyle }}" href="{{ asset('assets/css/twig-extracted.css') }}" rel="stylesheet" type="text/css">

<body class="bg-gradient-primary" id="page-top">
<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
    <div class="text-center p-4 rounded twig-style-123">
        <form id="trimite_cod"
              action="{{ path('2fa_login_check') }}"
              method="post">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label == 'danger'
                    ? 'danger' : (label == 'warning'
                    ? 'warning' : 'success') }} mb-3">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% if authenticationError is defined and authenticationError %}
                <div class="alert alert-danger mb-3">
                    Codul introdus este incorect in baza de date.
                </div>
            {% endif %}

            <div class="mb-3 twig-style-121">
                Introdu codul primit pe email
            </div>

            <div class="mb-3">
                <label for="2fa_code">
                    <input type="text" name="_auth_code" id="_auth_code" class="form-control" required placeholder="Cod">
                </label>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-light">Login</button>
            </div>
        </form>
        <div class="d-flex justify-content-center twig-style-124">
            <form action="{{ path('2fa_resend') }}" method="post">
                <input type="hidden" name="_token" value="{{ csrf_token('2fa_resend') }}">
                <button type="submit" class="btn btn-info">Retrimite cod</button>
            </form>
            <form action="{{ path('app_2fa_cancel') }}" method="post">
                <input type="hidden" name="_token" value="{{ csrf_token('2fa_cancel') }}">
                <button type="submit" class="btn btn-info">Renunta</button>
            </form>
        </div>
    </div>
</div>
<script src="{{ asset('assets/js/app_js/jquery.min.js') }}" nonce={{ nonceScript }}></script>
<script src="{{ asset('assets/js/app_js/bootstrap.bundle.min.js') }}" nonce={{ nonceScript }}></script>
<script src="{{ asset('assets/js/app_js/jquery.easing.js') }}" nonce={{ nonceScript }}></script>
<script src="{{ asset('assets/js/app_js/sb-admin-2.min.js') }}" nonce={{ nonceScript }}></script>
<script src="{{ asset('assets/js/app_js/jquery.validate.js') }}" nonce={{ nonceScript }}></script>
<script src="{{ asset('assets/js/app_js/jquery_extend.js') }}" nonce={{ nonceScript }}></script>
<script src="{{ asset('assets/js/forgot_password.js') }}" nonce={{ nonceScript }}></script>
<div id="global-alert-container"></div>
</body>
</html>
