{% set nonceStyle = csp_nonce('style') %}
{% set nonceScript = csp_nonce('script') %}
<!DOCTYPE html>
<html lang="en">
<link nonce="{{ nonceStyle }}" href="{{ asset('assets/sigla.ico') }}" rel="icon" type="image/icon" />
<link nonce="{{ nonceStyle }}" href="{{ asset('assets/css/all.min.css') }}" rel="stylesheet" type="text/css">
<link nonce="{{ nonceStyle }}" href="{{ asset('assets/css/google_fonts.css') }}" rel="stylesheet">
<link nonce="{{ nonceStyle }}" href="{{ asset('assets/css/sb-admin-2.min.css') }}" rel="stylesheet" type="text/css" />
<link nonce="{{ nonceStyle }}" href="{{ asset('assets/css/custom.css') }}" rel="stylesheet" type="text/css">
<link nonce="{{ nonceStyle }}" href="{{ asset('assets/css/twig-extracted.css') }}" rel="stylesheet" type="text/css">

<body class="bg-gradient-primary" id="page-top">
<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
    {{ form_start(form, {
        'action': path('forgot_password_email'),
        'attr': {
            'id': 'trimite_email',
            'class': 'text-center p-4 rounded',
            'style': 'background-color: darkblue; width: 100%; max-width: 400px;'
        }
    }) }}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} twig-style-120" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="mb-3 twig-style-121">
        Introdu adresa de email pentru a primi un link pentru resetarea parolei
    </div>

    <div class="mb-3">
        {{ form_widget(form.email_forgot_password) }}
    </div>

    {{ form_end(form) }}
</div>
<script src="{{ asset('assets/js/app_js/jquery.min.js') }}" nonce={{ nonceScript }}></script>
<script src="{{ asset('assets/js/app_js/bootstrap.bundle.min.js') }}" nonce={{ nonceScript }}></script>
<script src="{{ asset('assets/js/app_js/jquery.easing.js') }}" nonce={{ nonceScript }}></script>
<script src="{{ asset('assets/js/app_js/sb-admin-2.min.js') }}" nonce={{ nonceScript }}></script>
<script src="{{ asset('assets/js/app_js/jquery.validate.js') }}" nonce={{ nonceScript }}></script>
<script src="{{ asset('assets/js/app_js/jquery_extend.js') }}" nonce={{ nonceScript }}></script>
<script src="{{ asset('assets/js/forgot_password.js') }}" nonce={{ nonceScript }}></script>
<div id="global-alert-container"></div>
</body>
</html>
