<div class="modal add_raport_colaboratori_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal_raport_colaboratori_content">
            <div class="modal-header">
                <h5 class="modal-title titlu_add_edit_pacient">Adauga raport colaboratori</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <form id="add_raport_colaboratori_form">
                        <div class="form-group row">
                            <div class="col-sm-4 mb-3 mb-sm-0">
                                <label for="owner">Owner</label>
                                <select type="text" class="form-control" id="owner" name="owner">
                                    <option value="">-- Alege --</option>
                                    {% for owner in owners %}
                                        <option value="{{ owner.id }}">{{ owner.denumire }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-4 mb-3 mb-sm-0">
                                <label for="medic">Colaborator</label>
                                <select type="text" class="form-control" id="medic" name="medic">
                                    <option value="">-- Alege --</option>
                                    {% for medic in medici %}
                                        <option value="{{ medic.id }}">{{ medic.nume ~ ' ' ~ medic.prenume }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-2 mb-3 mb-sm-0">
                                <label for="an">An</label>
                                <select type="text" class="form-control" id="an" name="an">
                                    <option value="">-- Alege --</option>
                                    <option value="2020">2020</option>
                                    <option value="2021">2021</option>
                                    <option value="2022">2022</option>
                                    <option value="2023">2023</option>
                                    <option value="2024">2024</option>
                                    <option value="2025">2025</option>
                                    <option value="2026">2026</option>
                                    <option value="2027">2027</option>
                                    <option value="2028">2028</option>
                                    <option value="2029">2029</option>
                                    <option value="2030">2030</option>
                                </select>
                            </div>
                            <div class="col-sm-2 mb-3 mb-sm-0">
                                <label for="luna">Luna</label>
                                <select type="text" class="form-control" id="luna" name="luna">
                                    <option value="">-- Alege --</option>
                                    {% for nrLuna, luna in lunileAnului %}
                                        <option value="{{ nrLuna }}">{{ luna }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-2 mb-3 mb-sm-0">
                                <label for="suma">Suma - RON</label>
                                <input type="text" class="form-control" id="suma" name="suma" readonly />
                            </div>
                            <div class="col-sm-2 mb-3 mb-sm-0" style="text-align: right;">
                                <button style="margin-top: 30px;" type="button" class="btn btn-primary confirma_raport_colaboratori" disabled>Genereaza
                                    <span class="spinner-border spinner-border-sm spinner spinner_conf_raport" style="display: none;"></span>
                                </button>
                            </div>
                            <div class="col-sm-2 mb-3 mb-sm-0" style="text-align: left;">
                                <button style="margin-top: 30px;" type="button" class="btn btn-primary confirma_plateste_colaboratori" disabled>Plateste
                                    <span class="spinner-border spinner-border-sm spinner spinner_conf_plata_raport" style="display: none;"></span>
                                </button>
                            </div>
                            <div class="col-sm-6 mb-3 mb-sm-0"></div>
                        </div>
                        <input type="hidden" id="raport_colaboratori_id" name="raport_colaboratori_id" value="" />
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <p class="modal-body rezultat_operatiune" style="display: none; margin-top: 10px; margin-bottom: 10px; font-weight: bold;"></p>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuleaza</button>
            </div>
        </div>
    </div>
</div>