<div class="modal add_edit_pret_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content pret_content">
            <div class="modal-header">
                <h5 class="modal-title titlu_pret">Adauga tarif</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <form id="add_edit_pret_form">
                        <div class="form-group row">
                            <div class="col-sm-4 dropdown show">
                                <label for="pret_medic">Medic</label>
                                <select type="text" class="form-control" id="pret_medic" name="pret_medic">
                                    <option value="">- Alegeti -</option>
                                    {% for medic in medici %}
                                        <option value="{{ medic.id }}">{{ medic.nume ~ " " ~ medic.prenume }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-4 dropdown show">
                                <label for="pret_owner">Owner</label>
                                <select type="text" class="form-control" id="pret_owner" name="pret_owner">
                                    <option value="">- Alegeti -</option>
                                    {% for owner in owners %}
                                        <option value="{{ owner.id }}">{{ owner.denumire }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-4 dropdown show">
                                <label for="pret_serviciu">Serviciu</label>
                                <select type="text" class="form-control" id="pret_serviciu" name="pret_serviciu">
                                    <option value="">- Alegeti -</option>
                                    {% for serviciu in servicii %}
                                        <option value="{{ serviciu.id }}">{{ serviciu.denumire }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4 mb-2 mb-sm-0">
                                <label for="pret_pret">Tarif RON</label>
                                <input type="text" class="form-control" id="pret_pret" name="pret_pret">
                            </div>
                            <div class="col-sm-4 mb-3 mb-sm-0">
                                <label for="pret_procentaj_medic">Procentaj medic</label>
                                <input type="text" class="form-control" id="pret_procentaj_medic" name="pret_procentaj_medic">
                            </div>
                            <div class="col-sm-4 mb-3 mb-sm-0">
                                <label for="pret_cota_tva">Cota TVA</label>
                                <input type="text" class="form-control" id="pret_cota_tva" name="pret_cota_tva" disabled value="0">
                            </div>
                        </div>
                        <input type="hidden" id="pret_id" name="pret_id" value=""/>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <p class="modal-body rezultat_operatiune" style="display: none; margin-top: 10px; margin-bottom: 10px; font-weight: bold;"></p>
                <button type="button" class="btn btn-primary confirma_pret">Confirma
                    <span class="spinner-border spinner-border-sm spinner" style="display: none;"></span>
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuleaza</button>
            </div>
        </div>
    </div>
</div>