<div class="modal-header pacient_header">
    <h5 class="modal-title titlu_add_edit_pacient">Adauga pacient</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span>&times;</span>
    </button>
</div>
<div class="modal-body pacient_body">
    {{ form_start(form, {'attr': {'id': 'add_edit_pacient_form'}}) }}
        <div class="form-group row">
            <div class="col-sm-4 mb-3 mb-sm-0">
                {{ form_label(form.nume) }}
                {{ form_widget(form.nume) }}
            </div>
            <div class="col-sm-4">
                {{ form_label(form.prenume) }}
                {{ form_widget(form.prenume) }}
            </div>
            <div class="col-sm-4 mb-3 mb-sm-0">
                {{ form_label(form.tara) }}
                {{ form_widget(form.tara) }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4 mb-3 mb-sm-0">
                {{ form_label(form.cnp) }}
                {{ form_widget(form.cnp) }}
            </div>
            <div class="col-sm-4 mb-3 mb-sm-0">
                {{ form_label(form.ci) }}
                {{ form_widget(form.ci) }}
            </div>
            <div class="col-sm-4 mb-3 mb-sm-0 form-group">
                {{ form_label(form.ciEliberat) }}
                <div class="input-group date">
                    {{ form_widget(form.ciEliberat) }}
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4 mb-3 mb-sm-0">
                {{ form_label(form.varsta) }}
                {{ form_widget(form.varsta) }}
            </div>
            <div class="col-sm-4 mb-3 mb-sm-0">
                {{ form_label(form.judet) }}
                {{ form_widget(form.judet) }}
            </div>
            <div class="col-sm-4 mb-3 mb-sm-0">
                {{ form_label(form.localitate) }}
                {{ form_widget(form.localitate) }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4 mb-3 mb-sm-0">
                {{ form_label(form.adresa) }}
                {{ form_widget(form.adresa) }}
            </div>
            <div class="col-sm-4">
                {{ form_label(form.telefon) }}
                {{ form_widget(form.telefon) }}
            </div>
            <div class="col-sm-4">
                {{ form_label(form.telefon2) }}
                {{ form_widget(form.telefon2) }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
            </div>
            <div class="col-sm-3 mb-3 mb-sm-0">
                {{ form_label(form.ocupatie) }}
                {{ form_widget(form.ocupatie) }}
            </div>
            <div class="col-sm-3 mb-3 mb-sm-0">
                {{ form_label(form.locMunca) }}
                {{ form_widget(form.locMunca) }}
            </div>
            <div class="col-sm-3 mb-3 mb-sm-0">
                {{ form_label(form.stareCivila) }}
                {{ form_widget(form.stareCivila) }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12 mb-3 mb-sm-0">
                {{ form_label(form.observatii) }}
                {{ form_widget(form.observatii) }}
            </div>
        </div>
        {{ form_widget(form.pacient_id) }}
    {{ form_end(form) }}
</div>
<div class="modal-footer pacient_footer">
    <p class="modal-body rezultat_operatiune twig-style-105"></p>
    <button type="button" class="btn btn-primary confirma_pacient">Confirma
        <span class="spinner-border spinner-border-sm spinner"></span>
    </button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuleaza</button>
</div>
