<div class="modal add_edit_user_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        {% set loggedUserData = app.user %}
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title titlu_user">Adauga utilizator</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body" style="height: 466px;">
                <div>
                    <form class="user" id="add_edit_user_form">
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <label for="nume">Nume *</label>
                                <input type="text" class="form-control" id="nume" name="nume"/>
                            </div>
                            <div class="col-sm-6">
                                <label for="prenume">Prenume *</label>
                                <input type="text" class="form-control" id="prenume" name="prenume"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <label for="username">Nume utilizator *</label>
                                <input type="text" class="form-control" id="username" name="username"/>
                            </div>
                            <div class="col-sm-6">
                                <label for="telefon">Telefon *</label>
                                <input type="number" class="form-control" id="telefon" name="telefon"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <label for="email">Email *</label>
                                <input type="email" class="form-control" id="email" name="email"/>
                            </div>
                            <div class="col-sm-6 dropdown show">
                                <label for="rol">Rol *</label>
                                <select required type="text" class="form-control" id="rol" name="rol">
                                    <option value="">- Alegeti -</option>
                                    {% for rol in roluri %}
                                        {% if 'ROLE_' ~ rol.denumire == loggedUserData.getRole() %}
                                            {% set selected = "selected" %}
                                        {% else%}
                                            {% set selected = "" %}
                                        {% endif %}
                                        <option {{ selected }} value="{{ rol.id }}">{{ rol.denumire }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <label for="cod_parafa">Cod parafa - medici *</label>
                                <input class="form-control" id="cod_parafa" name="cod_parafa"/>
                            </div>
                            <div class="col-sm-6 dropdown show">
                                <label for="titulatura">Titulatura - medici *</label>
                                <select type="text" class="form-control" id="titulatura" name="titulatura">
                                    <option value="">- Alegeti -</option>
                                    {% for titulatura in titulaturi %}
                                        {% if titulatura.denumire == loggedUserData.titulatura %}
                                            {% set selected = "selected" %}
                                        {% else%}
                                            {% set selected = "" %}
                                        {% endif %}
                                        <option {{ selected }} value="{{ titulatura.id }}">{{ titulatura.denumire }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 dropdown show">
                                <label for="specialitate">Specialitate - medici *</label>
                                <select type="text" class="form-control" id="specialitate" name="specialitate">
                                    <option value="">- Alegeti -</option>
                                    {% for specialitate in specialitati %}
                                        {% if specialitate.denumire == loggedUserData.specialitate %}
                                            {% set selected = "selected" %}
                                        {% else%}
                                            {% set selected = "" %}
                                        {% endif %}
                                        <option {{ selected }} value="{{ specialitate.id }}">{{ specialitate.denumire }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <label for="password">Parola *</label>
                                <input required type="password" class="form-control" id="password" name="password" value="*******"/>
                            </div>
                        </div>
                        <input type="hidden" id="user_id" name="user_id" value="{{ app.user.id }}"/>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <p class="modal-body rezultat_operatiune" style="display: none; margin-top: 10px; margin-bottom: 10px; font-weight: bold;"></p>
                <button type="button" class="btn btn-primary confirma_utilizator">Confirma
                    <span class="spinner-border spinner-border-sm spinner" style="display: none;"></span>
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuleaza</button>
            </div>
        </div>
    </div>
</div>