<div class="modal edit_profile_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        {% set loggedUserData = app.user %}
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editeaza profil</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <form class="user" id="edit_profile_form">
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <label for="edit_profile_nume">Nume</label>
                                <input type="text" class="form-control" id="edit_profile_nume" name="edit_profile_nume" placeholder="Nume" value="{{ loggedUserData ? loggedUserData.nume : "" }}">
                            </div>
                            <div class="col-sm-6">
                                <label for="edit_profile_prenume">Prenume</label>
                                <input type="text" class="form-control" id="edit_profile_prenume" name="edit_profile_prenume" placeholder="Prenume" value="{{ loggedUserData ? loggedUserData.prenume : "" }}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <label for="edit_profile_username">Nume utilizator</label>
                                <input type="text" class="form-control" id="edit_profile_username" name="edit_profile_username" placeholder="Username" value="{{ loggedUserData ? loggedUserData.username : ""}}">
                            </div>
                            <div class="col-sm-6">
                                <label for="edit_profile_telefon">Telefon</label>
                                <input type="number" class="form-control" id="edit_profile_telefon" name="edit_profile_telefon" placeholder="Telefon" value="{{ loggedUserData ? loggedUserData.telefon : ""}}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <label for="edit_profile_email">Email</label>
                                <input type="email" class="form-control" id="edit_profile_email" name="edit_profile_email" placeholder="Email" value="{{ loggedUserData ? loggedUserData.email : "" }}">
                            </div>
                            <div class="col-sm-6 dropdown show">
                                <label for="edit_profile_rol">Rol</label>
                                {% if 'ROLE_Administrator' != loggedUserData.getRole() %}
                                    {% set disabled = "disabled" %}
                                {% else %}
                                    {% set disabled = "" %}
                                {% endif %}
                                <select required {{ disabled }} type="text" class="form-control" id="edit_profile_rol" name="edit_profile_rol">
                                    <option value="0">- Alegeti -</option>
                                    {% for rol in roluri %}
                                        {% if 'ROLE_' ~ rol.denumire == loggedUserData.getRole() %}
                                            {% set selected = "selected" %}
                                        {% else%}
                                            {% set selected = "" %}
                                        {% endif %}
                                        <option {{ selected }} value="{{ rol.id }}">{{ rol.denumire }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <label for="edit_profile_cod_parafa">Cod parafa - medici</label>
                                <input class="form-control" id="edit_profile_cod_parafa" name="edit_profile_cod_parafa" placeholder="Cod parafa" value="{{ loggedUserData ? loggedUserData.codParafa : "" }}" />
                            </div>
                            <div class="col-sm-6 dropdown show">
                                <label for="edit_profile_titulatura">Titulatura</label>
                                <select type="text" class="form-control" id="edit_profile_titulatura" name="edit_profile_titulatura">
                                    <option value="">- Alegeti -</option>
                                    {% for titulatura in titulaturi %}
                                        {% if titulatura.denumire == loggedUserData.titulatura %}
                                            {% set selected = "selected" %}
                                        {% else%}
                                            {% set selected = "" %}
                                        {% endif %}
                                        <option {{ selected }} value="{{ titulatura.id }}">{{ titulatura.denumire }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 dropdown show">
                                <label for="edit_profile_specialitate">Specialitate</label>
                                <select type="text" class="form-control" id="edit_profile_specialitate" name="edit_profile_specialitate">
                                    <option value="">- Alegeti -</option>
                                    {% for specialitate in specialitati %}
                                        {% if specialitate.denumire == loggedUserData.specialitate %}
                                            {% set selected = "selected" %}
                                        {% else%}
                                            {% set selected = "" %}
                                        {% endif %}
                                        <option {{ selected }} value="{{ specialitate.id }}">{{ specialitate.denumire }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <label for="edit_profile_password">Parola *</label>
                                <input required type="password" class="form-control" id="edit_profile_password" name="edit_profile_password" placeholder="Parola" value="">
                            </div>
                        </div>
                        <input type="hidden" id="logged_user_id" value="{{ loggedUserData ? loggedUserData.id : "" }}"/>
                        <input type="hidden" id="profile_user_id" value="{{ loggedUserData ? loggedUserData.id : "" }}"/>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <p class="modal-body rezultat_operatiune" style="display: none; margin-top: 10px; margin-bottom: 10px; font-weight: bold;"></p>
                <button type="button" class="btn btn-primary confirma_editare_profil">Confirma
                    <span class="spinner-border spinner-border-sm spinner" style="display: none;"></span>
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuleaza</button>
            </div>
        </div>
    </div>
</div>