<div class="modal-header">
    <h5 class="modal-title titlu_modal_eval_psiho_cons" id="titlu_eval_psiho">Editeaza evaluare psihologica - {{ data.denumireServiciu ?? '' }}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span>&times;</span>
    </button>
</div>
<div class="modal-body cons" style="height: 630px;">
    {% set TIP_EVAL_PSIHO = 2 %}
    <div class="row">
        <div class="col-sm-1" id="istoric_pacient_cons"><b>ISTORIC</b>
            <div class="btn-group istoric_btn" style="margin-top: 10px;">
                <a class="btn btn-sm btn-success istoric_a">Evaluari</a>
                <button type="button" class="istoric_eval_psiho btn btn-sm btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"></button>
                <div class="dropdown-menu dropdown_eval_psiho"></div>
            </div>
        </div>
        <div class="col-sm-11">
            <form id="eval_psiho_form">
                <div class="form-group row">
                    <div class="col-sm-2 mb-3 mb-sm-0">
                        <label for="eval_psiho_nrInreg">Numar inregistrare</label>
                        <input type="text" class="form-control" id="eval_psiho_nrInreg" name="eval_psiho_nrInreg" value="{{ data.nrInreg ?? '' }}" />
                    </div>
                    <div class="col-sm-4 mb-3 mb-sm-0">
                        <label for="eval_psiho_pacient_name">Pacient</label>
                        <input type="text" class="form-control" id="eval_psiho_pacient_name" name="eval_psiho_pacient_name" value="{{ data.numePacient ?? '' }}" disabled />
                        <input type="hidden" id="eval_psiho_pacient" name="eval_psiho_pacient" value="{{ data.pacientId ?? '' }}">
                    </div>
                    <div class="col-sm-1 mb-3 mb-sm-0">
                        <label for="eval_psiho_sex">Sex</label>
                        <input type="text" class="form-control" id="eval_psiho_sex" name="eval_psiho_sex" value="{{ data.sex ?? '' }}" disabled />
                    </div>
                    <div class="col-sm-2 mb-3 mb-sm-0">
                        <label for="eval_psiho_dataNasterii">Data nasterii</label>
                        <input type="text" class="form-control" id="eval_psiho_dataNasterii" name="eval_psiho_dataNasterii" value="{{ data.dataNasterii ?? '' }}" disabled />
                    </div>
                    <div class="col-sm-3 mb-3 mb-sm-0">
                        <label for="eval_psiho_cnp">CNP / CI</label>
                        <input type="text" class="form-control" id="eval_psiho_cnp" name="eval_psiho_cnp" value="{{ data.cnp ?? '' }}" disabled />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4 dropdown show">
                        <label for="eval_psiho_medic">Medic</label>
                        <select type="text" class="form-control" id="eval_psiho_medic" name="eval_psiho_medic" disabled>
                            <option value="">- Alegeti -</option>
                            {% for medic in medici %}
                                <option value="{{ medic.id }}"
                                        {{ data.medicId|default('') == medic.id ? 'selected' }}>
                                    {{ medic.nume }} {{ medic.prenume }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-4 dropdown show">
                        <label for="eval_psiho_serviciu">Serviciu</label>
                        <select type="text" class="form-control" id="eval_psiho_serviciu" name="eval_psiho_serviciu" disabled>
                            <option value="">- Alegeti -</option>
                            {% for serviciu in servicii %}
                                {% if serviciu.tip == TIP_EVAL_PSIHO %}
                                    <option value="{{ serviciu.id }}"
                                            {{ data.serviciuId|default('') == serviciu.id ? 'selected' }}>
                                        {{ serviciu.denumire }}
                                    </option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-4 dropdown show">
                        <label for="eval_psiho_owner">Owner</label>
                        <select type="text" class="form-control" id="eval_psiho_owner" name="eval_psiho_owner" disabled>
                            <option value="">- Alegeti -</option>
                            {% for owner in owners %}
                                <option value="{{ owner.id }}"
                                        {{ data.ownerId|default('') == owner.id ? 'selected' }}>
                                    {{ owner.denumire }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <br/>
                <div class="form-group row">
                    <div class="col-sm-12 mb-3 mb-sm-0">
                        <label for="eval_psiho_obiectiv"><b>Obiectivul psihodiagnosticului şi evaluării *</b></label>
                        <textarea class="form-control" id="eval_psiho_obiectiv" name="eval_psiho_obiectiv">{{ data.consultatie ?? '' }}</textarea>
                    </div>
                </div>
                <br/>
                <div class="form-group row">
                    <div class="col-sm-12 mb-3 mb-sm-0">
                        <label><b>Descrierea succintă a componentelor psihologice</b></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 mb-3 mb-sm-0">
                        <label><b>Nivel subiectiv/emoţional (inclusiv Satisfacţia/Calitatea vieţii)</b></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <label for="eval_psiho_subiectiv_ce">Ce s-a evaluat?</label>
                        <textarea class="form-control" id="eval_psiho_subiectiv_ce" name="eval_psiho_subiectiv_ce">{{ data.evalPsiho.subiectiv_ce ?? '' }}</textarea>
                    </div>
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <label for="eval_psiho_subiectiv_cu_ce">Cu ce s-a evaluat?</label>
                        <textarea class="form-control" id="eval_psiho_subiectiv_cu_ce" name="eval_psiho_subiectiv_cu_ce">{{ data.evalPsiho.subiectiv_cu_ce ?? '' }}</textarea>
                    </div>
                </div>
                <br/>
                <div class="form-group row">
                    <div class="col-sm-12 mb-3 mb-sm-0">
                        <label><b>Nivel cognitiv</b></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <label for="eval_psiho_cognitiv_ce">Ce s-a evaluat?</label>
                        <textarea class="form-control" id="eval_psiho_cognitiv_ce" name="eval_psiho_cognitiv_ce">{{ data.evalPsiho.cognitiv_ce ?? '' }}</textarea>
                    </div>
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <label for="eval_psiho_cognitiv_cu_ce">Cu ce s-a evaluat?</label>
                        <textarea class="form-control" id="eval_psiho_cognitiv_cu_ce" name="eval_psiho_cognitiv_cu_ce">{{ data.evalPsiho.cognitiv_cu_ce ?? '' }}</textarea>
                    </div>
                </div>
                <br/>
                <div class="form-group row">
                    <div class="col-sm-12 mb-3 mb-sm-0">
                        <label><b>Nivel comportamental</b></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <label for="eval_psiho_comportamental_ce">Ce s-a evaluat?</label>
                        <textarea class="form-control" id="eval_psiho_comportamental_ce" name="eval_psiho_comportamental_ce">{{ data.evalPsiho.comportamental_ce ?? '' }}</textarea>
                    </div>
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <label for="eval_psiho_comportamental_cu_ce">Cu ce s-a evaluat?</label>
                        <textarea class="form-control" id="eval_psiho_comportamental_cu_ce" name="eval_psiho_comportamental_cu_ce">{{ data.evalPsiho.comportamental_cu_ce ?? '' }}</textarea>
                    </div>
                </div>
                <br/>
                <div class="form-group row">
                    <div class="col-sm-12 mb-3 mb-sm-0">
                        <label><b>Nivel psihofiziologic</b></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <label for="eval_psiho_psihofiziologic_ce">Ce s-a evaluat?</label>
                        <textarea class="form-control" id="eval_psiho_psihofiziologic_ce" name="eval_psiho_psihofiziologic_ce">{{ data.evalPsiho.psihofiziologic_ce ?? '' }}</textarea>
                    </div>
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <label for="eval_psiho_psihofiziologic_cu_ce">Cu ce s-a evaluat?</label>
                        <textarea class="form-control" id="eval_psiho_psihofiziologic_cu_ce" name="eval_psiho_psihofiziologic_cu_ce">{{ data.evalPsiho.psihofiziologic_cu_ce ?? '' }}</textarea>
                    </div>
                </div>
                <br/>
                <div class="form-group row">
                    <div class="col-sm-12 mb-3 mb-sm-0">
                        <label><b>Nivel de personalitate şi mecanisme defensive/adaptare</b></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <label for="eval_psiho_personalitate_ce">Ce s-a evaluat?</label>
                        <textarea class="form-control" id="eval_psiho_personalitate_ce" name="eval_psiho_personalitate_ce">{{ data.evalPsiho.personalitate_ce ?? '' }}</textarea>
                    </div>
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <label for="eval_psiho_personalitate_cu_ce">Cu ce s-a evaluat?</label>
                        <textarea class="form-control" id="eval_psiho_personalitate_cu_ce" name="eval_psiho_personalitate_cu_ce"{{ data.evalPsiho.personalitate_cu_ce ?? '' }}></textarea>
                    </div>
                </div>
                <br/>
                <div class="form-group row">
                    <div class="col-sm-12 mb-3 mb-sm-0">
                        <label><b>Nivel de relaţionare interpersonală (inclusiv, de cuplu, familie, grup etc.)</b></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <label for="eval_psiho_relationare_ce">Ce s-a evaluat?</label>
                        <textarea class="form-control" id="eval_psiho_relationare_ce" name="eval_psiho_relationare_ce">{{ data.evalPsiho.relationare_ce ?? '' }}</textarea>
                    </div>
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <label for="eval_psiho_relationare_cu_ce">Cu ce s-a evaluat?</label>
                        <textarea class="form-control" id="eval_psiho_relationare_cu_ce" name="eval_psiho_relationare_cu_ce">{{ data.evalPsiho.relationare_cu_ce ?? '' }}</textarea>
                    </div>
                </div>
                <br/>
                <div class="form-group row">
                    <div class="col-sm-12 mb-3 mb-sm-0">
                        <label for="eval_psiho_concluzie"><b>Concluzii *</b></label>
                        <textarea class="form-control" id="eval_psiho_concluzie" name="eval_psiho_concluzie">{{ data.diagnostic ?? '' }}</textarea>
                    </div>
                </div>
                <br/>
                <div class="form-group row">
                    <div class="col-sm-12 mb-3 mb-sm-0">
                        <label for="eval_psiho_recomandari"><b>Recomandari *</b></label>
                        <textarea class="form-control" id="eval_psiho_recomandari" name="eval_psiho_recomandari">{{ data.tratament ?? '' }}</textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3 mb-3 mb-sm-0">
                        <label for="eval_psiho_loc">Locul evaluarii</label>
                        <select type="text" class="form-control" id="eval_psiho_loc" name="eval_psiho_loc">
                            <option value="C" {{ data.loc is defined and data.loc == 'C' ? 'selected' }}>Cabinet</option>
                            <option value="D" {{ data.loc is defined and data.loc == 'D' ? 'selected' }}>Domiciliu</option>
                        </select>
                    </div>
                    <div class="col-sm-3 mb-3 mb-sm-0">
                        <label for="eval_psiho_medicTrimitator">Medic trimitator (cauta sau introdu)</label>
                        <div class="input-group date">
                            <input list="list_cons" class="form-control" id="eval_psiho_medicTrimitator" name="eval_psiho_medicTrimitator" placeholder="Nume si cod parafa" value="{{ data.medicTrimitator|default('') }}" />
                            <span id="list_all_cons" class="input-group-append"><span class="input-group-text"><i class="fa fa-arrow-circle-down"></i></span></span>
                            <datalist id="list_cons">
                                {% for medicTrimitator in mediciTrimitatori %}
                                    <option value="{{ medicTrimitator.nume }}"
                                            {{ data.medicTrimitator|default('') == medicTrimitator.nume ? 'selected' }}>
                                        {{ medicTrimitator.nume }}
                                    </option>
                                {% endfor %}
                            </datalist>
                        </div>
                    </div>
                    <div class="col-sm-3 mb-3 mb-sm-0"></div>
                    <div class="col-sm-3 mb-3 mb-sm-0"></div>
                </div>
                <input type="hidden" id="eval_psiho_id" name="eval_psiho_id" value="{{ data.id ?? '' }}" />
                <input type="hidden" id="eval_psiho_pret" name="eval_psiho_pret" value="{{ data.pretId ?? '' }}" />
            </form>
        </div>
    </div>
</div>
<div class="modal-footer" style="margin-right: 25px;">
    <p class="modal-body rezultat_operatiune" style="display: none; margin-top: 10px; margin-bottom: 10px; font-weight: bold;"></p>
    <label style="text-align: right; color: #AA3333; font-weight: bold;" for="tarif_eval_psiho">Tarif evaluare psihologica</label>
    <input style="width: 55px; border: 1px solid #AA3333; border-radius:5px; text-align: right; font-weight: bold; color: black;" id="tarif_eval_psiho" name="tarif_eval_psiho" class="input_tarif" value="{{ data.tarif ?? '0' }}"/>
    <p style="color: black; margin-right: 10px; margin-left: 5px; border: none;"><b>RON</b></p>
    <button type="button" class="btn btn-primary confirma_eval_psiho btn_confirma confirma_eval_psiho_from_pacient">Salveaza
        <span class="spinner-border spinner-border-sm spinner" style="display: none;"></span>
    </button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuleaza</button>
</div>