<div class="modal-header">
    <h5 class="modal-title" id="titlu_view_consultatie">Consultatie: {{ data.denumireServiciu ?? '' }}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span>&times;</span>
    </button>
</div>
<div class="modal-body">
    {% set TIP_CONSULTATIE = 0 %}
    <div class="form-group row">
        <div class="col-sm-2 mb-3 mb-sm-0">
            <label for="view_consultatie_nr_inreg">Numar inregistrare</label>
            <input type="text" class="form-control" id="view_consultatie_nr_inreg" name="view_consultatie_nr_inreg" value="{{ data.nrInreg ?? '' }}" disabled>
        </div>
        <div class="col-sm-4 mb-3 mb-sm-0">
            <label for="view_consultatie_pacient">Pacient</label>
            <input type="text" class="form-control" id="view_consultatie_pacient" name="view_consultatie_pacient" value="{{ data.numePacient ?? '' }}" disabled/>
        </div>
        <div class="col-sm-1 mb-3 mb-sm-0">
            <label for="view_consultatie_sex">Sex</label>
            <input type="text" class="form-control" id="view_consultatie_sex" name="view_consultatie_sex" value="{{ data.sex ?? '' }}" disabled />
        </div>
        <div class="col-sm-2 mb-3 mb-sm-0">
            <label for="view_consultatie_data_nasterii">Data nasterii</label>
            <input type="text" class="form-control" id="view_consultatie_data_nasterii" name="view_consultatie_data_nasterii" value="{{ data.dataNasterii ?? '' }}" disabled />
        </div>
        <div class="col-sm-3 mb-3 mb-sm-0">
            <label for="view_consultatie_cnp">CNP / CI</label>
            <input type="text" class="form-control" id="view_consultatie_cnp" name="view_consultatie_cnp" value="{{ data.cnp ?? '' }}" disabled />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-4 dropdown show">
            <label for="view_consultatie_medic">Medic</label>
            <select type="text" class="form-control" id="view_consultatie_medic" name="view_consultatie_medic" disabled>
                <option value="">- Alegeti -</option>
                {% for medic in medici %}
                    <option value="{{ medic.id }}"
                            {{ data.medicId|default('') == medic.id ? 'selected' }}>
                        {{ medic.nume }} {{ medic.prenume }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-sm-4 dropdown show">
            <label for="view_consultatie_serviciu">Serviciu</label>
            <select type="text" class="form-control" id="view_consultatie_serviciu" name="view_consultatie_serviciu" disabled>
                <option value="">- Alegeti -</option>
                {% for serviciu in servicii %}
                    {% if serviciu.tip == TIP_CONSULTATIE %}
                        <option value="{{ serviciu.id }}"
                                {{ data.serviciuId|default('') == serviciu.id ? 'selected' }}>
                            {{ serviciu.denumire }}
                        </option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col-sm-4 dropdown show">
            <label for="view_consultatie_owner">Owner</label>
            <select type="text" class="form-control" id="view_consultatie_owner" name="view_consultatie_owner" disabled>
                <option value="">- Alegeti -</option>
                {% for owner in owners %}
                    <option value="{{ owner.id }}"
                            {{ data.ownerId|default('') == owner.id ? 'selected' }}>
                        {{ owner.denumire }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-11 mb-3 mb-sm-0" style="display: inline-block;">
            <label for="view_consultatie_diagnostic">Diagnostic</label>
            <textarea class="form-control" id="view_consultatie_diagnostic" name="view_consultatie_diagnostic" disabled>{{ data.diagnostic ?? '' }}</textarea>
        </div>
        <div class="col-sm-1 mb-3 mb-sm-0" style="display: inline-block;">
            <button type="button"
                    class="btn btn-primary confirma_preia_cons"
                    data-from-consultatie="#view_consultatie_diagnostic"
                    data-to-consultatie="#consultatie_diagnostic">
                Preia
            </button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-11 mb-3 mb-sm-0">
            <label for="view_consultatie_ahc">AHC</label>
            <textarea disabled class="form-control" id="view_consultatie_ahc" name="view_consultatie_ahc">{{ data.ahc ?? '' }}</textarea>
        </div>
        <div class="col-sm-1 mb-3 mb-sm-0" style="display: inline-block;">
            <button type="button"
                    class="btn btn-primary confirma_preia_cons"
                    data-from-consultatie="#view_consultatie_ahc"
                    data-from-investigatie="#view_investigatie_ahc"
                    data-to-consultatie="#consultatie_ahc"
                    data-to-investigatie="#investigatie_ahc">
                Preia
            </button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-11 mb-3 mb-sm-0">
            <label for="view_consultatie_app">APP</label>
            <textarea disabled class="form-control" id="view_consultatie_app" name="view_consultatie_app">{{ data.app ?? '' }}</textarea>
        </div>
        <div class="col-sm-1 mb-3 mb-sm-0" style="display: inline-block;">
            <button type="button"
                    class="btn btn-primary confirma_preia_cons"
                    data-from-consultatie="#view_consultatie_app"
                    data-from-investigatie="#view_investigatie_app"
                    data-to-consultatie="#consultatie_app"
                    data-to-investigatie="#investigatie_app">
                Preia
            </button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-11 mb-3 mb-sm-0" style="display: inline-block;">
            <label for="view_consultatie_consultatie">Consultatie</label>
            <textarea class="form-control" id="view_consultatie_consultatie" name="view_consultatie_consultatie" disabled>{{ data.consultatie ?? '' }}</textarea>
        </div>
        <div class="col-sm-1 mb-3 mb-sm-0" style="display: inline-block;">
            <button type="button"
                    class="btn btn-primary confirma_preia_cons"
                    data-from-consultatie="#view_consultatie_consultatie"
                    data-from-investigatie="#view_investigatie_rezultat"
                    data-to-consultatie="#consultatie_consultatie"
                    data-to-investigatie="#investigatie_rezultat">
                Preia
            </button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-11 mb-3 mb-sm-0" style="display: inline-block;">
            <label for="view_consultatie_tratament">Recomandari si tratament</label>
            <textarea class="form-control" id="view_consultatie_tratament" name="view_consultatie_tratament" disabled>{{ data.tratament ?? '' }}</textarea>
        </div>
        <div class="col-sm-1 mb-3 mb-sm-0" style="display: inline-block;">
            <button type="button"
                    class="btn btn-primary confirma_preia_cons"
                    data-from-consultatie="#view_consultatie_tratament"
                    data-from-investigatie="#view_investigatie_concluzie"
                    data-to-consultatie="#consultatie_tratament"
                    data-to-investigatie="#investigatie_concluzie">
                Preia
            </button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-11 mb-3 mb-sm-0">
            <label for="view_consultatie_investigatii_urmate">Investigatii urmate</label>
            <textarea disabled class="form-control" id="view_consultatie_investigatii_urmate" name="view_consultatie_investigatii_urmate">{{ data.investigatiiUrmate ?? '' }}</textarea>
        </div>
        <div class="col-sm-1 mb-3 mb-sm-0" style="display: inline-block;">
            <button type="button"
                    class="btn btn-primary confirma_preia_cons"
                    data-from-consultatie="#view_consultatie_investigatii_urmate"
                    data-to-consultatie="#consultatie_investigatiiUrmate">
                Preia
            </button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-11 mb-3 mb-sm-0">
            <label for="view_consultatie_tratamenteUrmate">Tratamente urmate</label>
            <textarea disabled class="form-control" id="view_consultatie_tratamente_urmate" name="view_consultatie_tratamente_urmate">{{ data.tratamenteUrmate ?? '' }}</textarea>
        </div>
        <div class="col-sm-1 mb-3 mb-sm-0" style="display: inline-block;">
            <button type="button"
                    class="btn btn-primary confirma_preia_cons"
                    data-from-consultatie="#view_consultatie_tratamente_urmate"
                    data-to-consultatie="#consultatie_tratamenteUrmate">
                Preia
            </button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-11 mb-3 mb-sm-0">
            <label for="view_consultatie_observatii">Observatii</label>
            <textarea disabled class="form-control" id="view_consultatie_observatii" name="view_consultatie_observatii">{{ data.observatii ?? '' }}</textarea>
        </div>
        <div class="col-sm-1 mb-3 mb-sm-0" style="display: inline-block;">
            <button type="button"
                    class="btn btn-primary confirma_preia_cons"
                    data-from-consultatie="#view_consultatie_observatii"
                    data-to-consultatie="#consultatie_observatii">
                Preia
            </button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3 mb-3 mb-sm-0">
            <label for="view_consultatie_loc">Locul consultatiei</label>
            <select disabled type="text" class="form-control" id="view_consultatie_loc" name="view_consultatie_loc">
                <option value="C" {{ data.loc is defined and data.loc == 'C' ? 'selected' }}>Cabinet</option>
                <option value="D" {{ data.loc is defined and data.loc == 'D' ? 'selected' }}>Domiciliu</option>
            </select>
        </div>
        <div class="col-sm-3 mb-3 mb-sm-0">
            <label for="view_consultatie_medic_trimitator">Medic trimitator (cauta sau introdu)</label>
            <div class="input-group date">
                <input disabled list="list_cons" class="form-control" id="view_consultatie_medic_trimitator" name="view_consultatie_medic_trimitator" placeholder="Nume si cod parafa" value="{{ data.medicTrimitator|default('') }}" />
                <span id="list_all_cons" class="input-group-append"><span class="input-group-text"><i class="fa fa-arrow-circle-down"></i></span></span>
                <datalist id="list_cons">
                    {% for medicTrimitator in mediciTrimitatori %}
                        <option value="{{ medicTrimitator.nume }}"
                                {{ data.medicTrimitator|default('') == medicTrimitator.nume ? 'selected' }}>
                            {{ medicTrimitator.nume }}
                        </option>
                    {% endfor %}
                </datalist>
            </div>
        </div>
        <div class="col-sm-3 mb-3 mb-sm-0"></div>
        <div class="col-sm-3 mb-3 mb-sm-0"></div>
    </div>
</div>
<div class="modal-footer">
    <label style="text-align: right; color: #AA3333; font-weight: bold;" for="view_tarif_consultatie">Tarif consultatie</label>
    <input disabled style="width: 55px; border: 1px solid #AA3333; border-radius:5px; text-align: right; font-weight: bold; color: black;" id="view_tarif_consultatie" name="view_tarif_consultatie" value="{{ data.tarif ?? '0' }}"/>
    <p style="color: black; margin-right: 10px; margin-left: 5px; border: none;"><b>RON</b></p>
    <button type="button" class="btn btn-primary confirma_preia_tot">Preia tot</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuleaza</button>
</div>