<div class="modal-header">
    <h5 class="modal-title" id="titlu_view_investigatie">Investigatie: {{ data.denumireServiciu ?? '' }}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span>&times;</span>
    </button>
</div>
<div class="modal-body">
    {% set TIP_INVESTIGATIE = 1 %}
    <div class="form-group row">
        <div class="col-sm-2 mb-3 mb-sm-0">
            <label for="view_investigatie_nr_inreg">Numar inregistrare</label>
            <input type="text" class="form-control" id="view_investigatie_nr_inreg" name="view_investigatie_nr_inreg" value="{{ data.nrInreg ?? '' }}" disabled>
        </div>
        <div class="col-sm-4 mb-3 mb-sm-0">
            <label for="view_investigatie_pacient">Pacient</label>
            <input type="text" class="form-control" id="view_investigatie_pacient" name="view_investigatie_pacient" value="{{ data.numePacient ?? '' }}" disabled/>
        </div>
        <div class="col-sm-1 mb-3 mb-sm-0">
            <label for="view_investigatie_sex">Sex</label>
            <input type="text" class="form-control" id="view_investigatie_sex" name="view_investigatie_sex" value="{{ data.sex ?? '' }}" disabled />
        </div>
        <div class="col-sm-2 mb-3 mb-sm-0">
            <label for="view_investigatie_data_nasterii">Data nasterii</label>
            <input type="text" class="form-control" id="view_investigatie_data_nasterii" name="view_investigatie_data_nasterii" value="{{ data.dataNasterii ?? '' }}" disabled />
        </div>
        <div class="col-sm-3 mb-3 mb-sm-0">
            <label for="view_investigatie_cnp">CNP / CI</label>
            <input type="text" class="form-control" id="view_investigatie_cnp" name="view_investigatie_cnp" value="{{ data.cnp ?? '' }}" disabled />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-4 dropdown show">
            <label for="view_investigatie_medic">Medic</label>
            <select type="text" class="form-control" id="view_investigatie_medic" name="view_investigatie_medic" disabled>
                <option value="">- Alegeti -</option>
                {% for medic in medici %}
                    <option value="{{ medic.id }}"
                            {{ data.medicId|default('') == medic.id ? 'selected' }}>
                        {{ medic.nume }} {{ medic.prenume }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-sm-4 dropdown show">
            <label for="view_investigatie_serviciu">Serviciu</label>
            <select type="text" class="form-control" id="view_investigatie_serviciu" name="view_investigatie_serviciu" disabled>
                <option value="">- Alegeti -</option>
                {% for serviciu in servicii %}
                    {% if serviciu.tip == TIP_INVESTIGATIE %}
                        <option value="{{ serviciu.id }}"
                                {{ data.serviciuId|default('') == serviciu.id ? 'selected' }}>
                            {{ serviciu.denumire }}
                        </option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col-sm-4 dropdown show">
            <label for="view_investigatie_owner">Owner</label>
            <select type="text" class="form-control" id="view_investigatie_owner" name="view_investigatie_owner" disabled>
                <option value="">- Alegeti -</option>
                {% for owner in owners %}
                    <option value="{{ owner.id }}"
                            {{ data.ownerId|default('') == owner.id ? 'selected' }}>
                        {{ owner.denumire }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-11 mb-3 mb-sm-0">
            <label for="view_investigatie_ahc">AHC</label>
            <textarea disabled class="form-control" id="view_investigatie_ahc" name="view_investigatie_ahc">{{ data.ahc ?? '' }}</textarea>
        </div>
        <div class="col-sm-1 mb-3 mb-sm-0" style="display: inline-block;">
            <button type="button"
                    class="btn btn-primary confirma_preia_inv"
                    data-from-consultatie="#view_consultatie_ahc"
                    data-from-investigatie="#view_investigatie_ahc"
                    data-to-consultatie="#consultatie_ahc"
                    data-to-investigatie="#investigatie_ahc">
                Preia
            </button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-11 mb-3 mb-sm-0">
            <label for="view_investigatie_app">APP</label>
            <textarea disabled class="form-control" id="view_investigatie_app" name="view_investigatie_app">{{ data.app ?? '' }}</textarea>
        </div>
        <div class="col-sm-1 mb-3 mb-sm-0" style="display: inline-block;">
            <button type="button"
                    class="btn btn-primary confirma_preia_inv"
                    data-from-consultatie="#view_consultatie_app"
                    data-from-investigatie="#view_investigatie_app"
                    data-to-consultatie="#consultatie_app"
                    data-to-investigatie="#investigatie_app">
                Preia
            </button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-11 mb-3 mb-sm-0" style="display: inline-block;">
            <label for="view_investigatie_rezultat">Rezultat investigatie</label>
            <textarea style="height: 110px;" class="form-control" id="view_investigatie_rezultat" name="view_investigatie_rezultat" disabled>{{ data.consultatie ?? '' }}</textarea>
        </div>
        <div class="col-sm-1 mb-3 mb-sm-0" style="display: inline-block;">
            <button type="button"
                    class="btn btn-primary confirma_preia_inv"
                    data-from-consultatie="#view_consultatie_consultatie"
                    data-from-investigatie="#view_investigatie_rezultat"
                    data-to-consultatie="#consultatie_consultatie"
                    data-to-investigatie="#investigatie_rezultat">
                Preia
            </button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-11 mb-3 mb-sm-0" style="display: inline-block;">
            <label for="view_investigatie_concluzie">Concluzie</label>
            <textarea style="height: 110px;" class="form-control" id="view_investigatie_concluzie" name="view_investigatie_concluzie" disabled>{{ data.tratament ?? '' }}</textarea>
        </div>
        <div class="col-sm-1 mb-3 mb-sm-0" style="display: inline-block;">
            <button type="button"
                    class="btn btn-primary confirma_preia_inv"
                    data-from-consultatie="#view_consultatie_tratament"
                    data-from-investigatie="#view_investigatie_concluzie"
                    data-to-consultatie="#consultatie_tratament"
                    data-to-investigatie="#investigatie_concluzie">
                Preia
            </button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3 mb-3 mb-sm-0">
            <label for="view_investigatie_loc">Locul consultatiei</label>
            <select disabled type="text" class="form-control" id="view_investigatie_loc" name="view_investigatie_loc">
                <option value="C" {{ data.loc is defined and data.loc == 'C' ? 'selected' }}>Cabinet</option>
                <option value="D" {{ data.loc is defined and data.loc == 'D' ? 'selected' }}>Domiciliu</option>
            </select>
        </div>
        <div class="col-sm-3 mb-3 mb-sm-0">
            <label for="view_investigatie_medic_trimitator">Medic trimitator (cauta sau introdu)</label>
            <div class="input-group date">
                <input disabled list="list_cons" class="form-control" id="view_investigatie_medic_trimitator" name="view_investigatie_medic_trimitator" placeholder="Nume si cod parafa" value="{{ data.medicTrimitator|default('') }}" />
                <span id="list_all_cons" class="input-group-append"><span class="input-group-text"><i class="fa fa-arrow-circle-down"></i></span></span>
                <datalist id="list_cons">
                    {% for medicTrimitator in mediciTrimitatori %}
                        <option value="{{ medicTrimitator.nume }}"
                                {{ data.medicTrimitator|default('') == medicTrimitator.nume ? 'selected' }}>
                            {{ medicTrimitator.nume }}
                        </option>
                    {% endfor %}
                </datalist>
            </div>
        </div>
        <div class="col-sm-3 mb-3 mb-sm-0"></div>
        <div class="col-sm-3 mb-3 mb-sm-0"></div>
    </div>
</div>
<div class="modal-footer">
    <label style="text-align: right; color: #AA3333; font-weight: bold;" for="view_tarif_investigatie">Tarif consultatie</label>
    <input disabled style="width: 55px; border: 1px solid #AA3333; border-radius:5px; text-align: right; font-weight: bold; color: black;" id="view_tarif_investigatie" name="view_tarif_investigatie" value="{{ data.tarif ?? '0' }}"/>
    <p style="color: black; margin-right: 10px; margin-left: 5px; border: none;"><b>RON</b></p>
    <button type="button" class="btn btn-primary confirma_preia_tot">Preia tot</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuleaza</button>
</div>