{% extends 'base.html.twig' %}
{% block title %}MIND RESET - Consultatii nefacturate{% endblock %}
{% block tableTitle %}Pacienti - consultatii nefacturate{% endblock %}
{% block classAddBtn %}{{ 'no_show' }}{% endblock %}
{% block table %}
    <table class="table table-bordered rounded dataTable display nowrap" id="consultatii_nefacturate" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;"></table>
{% endblock %}
{% block addModal %}
    {% include 'modals/consultatii_nefacturate_modal.html.twig' %}
    {% include 'modals/add_factura_modal.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/consultatii_nefacturate.js') }}"></script>
    <script src="{{ asset('assets/js/pacienti.js') }}"></script>
    <script src="{{ asset('assets/js/facturi.js') }}"></script>
{% endblock %}