{% extends 'base.html.twig' %}
{% block title %}MIND RESET - Pacienti{% endblock %}
{% block tableTitle %}Lista pacienti{% endblock %}
{% block addBtnText %}{{ 'button.add'|trans }}{% endblock %}
{% block classAddBtn %}{{ 'add_pacient' }}{% endblock %}
{% block table %}
    <table class="table table-bordered rounded dataTable display nowrap" id="pacienti" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;"></table>
{% endblock %}
{% block heartbeat %}
    <div style="text-align: center; margin-bottom: 10px;"><i style="color: #1cc88a" class="fas fa-heartbeat fa-5x"></i></div>
{% endblock %}
{% block secondTableTitle %}Lista pacienti in cabinet{% endblock %}
{% block secondTable %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-md-6">
                    <h6 class="m-0 font-weight-bold text-primary">Lista pacienti in cabinet</h6>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row table-scroll-margin">
                        <div class="col-sm-12">
                            <table class="table table-bordered rounded dataTable display nowrap" id="pacienti_in_cabinet" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block addModal %}
    {% include 'modals/add_edit_pacient_modal.html.twig' %}
    {% include 'modals/deschide_cons_inv_modal.html.twig' %}
    {% include 'modals/incasare_modal.html.twig' %}
    {% include 'modals/inchide_toate.html.twig' %}
    {% include 'modals/add_factura_modal.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/pacienti.js') }}"></script>
    <script src="{{ asset('assets/js/facturi.js') }}"></script>
{% endblock %}