<!DOCTYPE html>
<html lang="en">
<head>
<link href="{{ asset('assets/css/twig-extracted.css') }}" rel="stylesheet" type="text/css">
<title></title>
</head>
<body class="tpl-formulare-buletin_investigatie">
<table class="twig-style-007">
    <tr>
        <td class="twig-style-021">
            <br />
            <div class="twig-style-022">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{ data.owner.denumire }}</b></div>
            <div class="twig-style-022">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>CUI: {{ data.owner.cui }}</b></div>
            <br /><br /><br /><br /><br /><br />
        </td>
        <td class="twig-style-023">
            <img src="{{ asset('assets/sigla_pdf.png') }}" alt="MIND RESET" class="twig-style-024">
        </td>
    </tr>
</table>
<div class="twig-style-025">RAPORT - {{ data.tipInvestigatie }}</div>
<table class="twig-style-026">
    <tr>
        <td><b>Nume:</b></td>
        <td>{{ data.pacient.nume }}</td>
        <td><b>Prenume:</b></td>
        <td>{{ data.pacient.prenume }}</td>
    </tr>
    <tr>
        <td><b>ID pacient:</b></td>
        <td>{{ data.pacient.id }}</td>
        <td><b>Trimitator:</b></td>
        <td>{{ data.medicTrimitator }}</td>
    </tr>
    <tr>
        <td><b>CNP:</b></td>
        <td>{{ data.pacient.cnp }}</td>
        <td><b>Varsta:</b></td>
        <td>{{ data.pacient.varsta }}</td>
    </tr>
    <tr>
        <td><b>Specialitate:</b></td>
        <td>{{ data.medic.denumireSpecialitate }}</td>
        <td><b>Nr. reg.:</b></td>
        <td>{{ data.nrInreg }}</td>
    </tr>
    <tr>
        <td><b>Data examinarii:</b></td>
        <td>{{ data.dataConsultatie }}</td>
        <td><b>Examinator:</b></td>
        <td>{{ data.medic.nume ~ ' ' ~ data.medic.prenume }}</td>
    </tr>
</table>
<br>
<table>
    <tr>
        <td class="twig-style-027"><b>Rezultat:</b></td>
    </tr>
    <tr>
        <td class="twig-style-026">
            {% for line in data.consultatie %}
                {{ line }}<br/>
            {% endfor %}
        </td>
    </tr>
</table>
<br>
<table>
    <tr>
        <td class="twig-style-027"><b>Concluzii:</b></td>
    </tr>
    <tr>
        <td class="twig-style-026">
            {% for line in data.tratament %}
                {{ line }}<br/>
            {% endfor %}
        </td>
    </tr>
</table>
<br>
<table class="twig-style-028">
    <tr>
        <td class="twig-style-029"><b>Examinator:</b></td>
        <td class="twig-style-030">{{ data.medic.nume ~ ' ' ~ data.medic.prenume }}</td>
        <td class="twig-style-030"><b>Specialitate:</b></td>
        <td class="twig-style-031">{{ data.medic.denumireSpecialitate }}</td>
    </tr>
    <tr>
        <td class="twig-style-032"><b>Cod parafa:</b></td>
        <td class="twig-style-033">{{ data.medic.codParafa }}</td>
        <td class="twig-style-033"><b>Grad profesional:</b></td>
        <td class="twig-style-034">{{ data.medic.denumireTitulatura }}</td>
    </tr>
</table>
<table class="twig-style-035">
    <tr>
        <td class="twig-style-021">
            <b>{{ "now"|date('d-m-Y') }}</b>
        </td>
        <td class="twig-style-036">
            <b>Semnatura si parafa</b><br/>
        </td>
    </tr>
</table>
</body>
</html>