<!DOCTYPE html>
<html lang="en">
<head>
<link href="{{ asset('assets/css/twig-extracted.css') }}" rel="stylesheet" type="text/css">
    <title>Fisa consultatie</title>
</head>
<body class="tpl-formulare-fisa_consultatii">
<table class="twig-style-007">
    <tr>
        <td class="twig-style-021">
            <br />
            <div>Judetul: <b class="dotted_underline">{{ dateFirma.judet }}</b></div>
            <div>Localitatea: <b class="dotted_underline">{{ dateFirma.localitate }}</b></div>
            <div class="twig-style-045">Unitatea sanitara: <b class="dotted_underline">{{ data.consultatii[0].denumireOwner }}</b><br></div>
            <div class="twig-style-045">CUI: <b class="dotted_underline">{{ data.consultatii[0].cuiOwner }}</b><br></div>
            <div class="twig-style-045">Medic: <b>{{ "Dr. " ~ data.medic.nume ~ " " ~ data.medic.prenume }}</b></div>
            <br />
        </td>
        <td class="twig-style-036">
            <img src="{{ asset('assets/sigla_pdf.png') }}" alt="MIND RESET" class="twig-style-024">
        </td>
    </tr>
</table>
<table class="twig-style-046">
    <tr><td class="twig-style-047">Nr.<b class="dotted_underline"> {{ data.consultatii[0].nrInreg }} </b> / <b class="dotted_underline">{{ data.consultatii[0].dataConsultatie|date("d-m-Y") }}&nbsp;&nbsp;</b></td></tr>
    <tr>
        <td class="twig-style-048">Cod numeric personal&nbsp;</td>
        {% set cnp = data.pacient.cnp %}
        {% set cifre = cnp|split('') %}
        {% for cifra in cifre %}
            <td class="twig-style-049">{{ cifra }}</td>
        {% endfor %}
    </tr>
</table>
<div class="twig-style-050">FISA DE CONSULTATII MEDICALE</div>
<p class="twig-style-051">Numele ..... <b>{{ data.pacient.nume }}</b> ..... Prenumele ..... <b>{{ data.pacient.prenume }}</b> ..... Sexul ..... <b>{{ data.pacient.sex }}</b> ..........
Data nasterii: anul ..... {{ data.pacient.dataNasterii|date('Y') }} ..... luna ..... {{ data.pacient.dataNasterii|date('m') }} ..... ziua ..... {{ data.pacient.dataNasterii|date('d') }} ..... </p>
<p class="twig-style-051">Starea civila: ..... {{ data.stareCivila }} ....., Domiciuliul: ..... {{ data.pacient.adresa }}, Localitatea: {{ data.pacient.localitate }}, Judetul: {{ data.pacient.judet }} </p>
<p class="twig-style-052">Ocupatia: {{ data.pacient.ocupatie}}, Locul de munca: {{ data.pacient.locMunca }}</p>
<hr class="twig-style-053">
<div class="twig-style-054">Schimbari de:</div>
<table id="schimbari" class="twig-style-007">
    <tr>
        <td class="twig-style-054">
            <p><u>domiciliu:</u></p>
            <p class="twig-style-055">&nbsp;</p>
            <p>.......................................................................................................................</p>
            <p class="twig-style-055">&nbsp;</p>
            <p>.......................................................................................................................</p>
        </td>
        <td class="twig-style-056"></td>
        <td class="twig-style-054">
            <p><u>loc de munca:</u></p>
            <p class="twig-style-055">&nbsp;</p>
            <p>.......................................................................................................................</p>
            <p class="twig-style-055">&nbsp;</p>
            <p>.......................................................................................................................</p>
        </td>
    </tr>
</table>
<div class="twig-style-057">
    <b><u>Antecedente:</u></b>
</div>
<div class="twig-style-058"><b>&nbsp;&nbsp;&nbsp;heredo-colaterale:</b><br>
    {% for line in data.consultatii[0].ahc %}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ line }}<br/>
    {% endfor %}
</div>
<div class="twig-style-058"><b>&nbsp;&nbsp;&nbsp;personale:</b><br>
    {% for line in data.consultatii[0].app %}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ line }}<br/>
    {% endfor %}
</div>
<b><u>Conditii de munca:</u></b> ................................................................................................................................<br /><br />
<table class="twig-style-059">
    <tr>
        <td colspan="7" class="twig-style-060"><b>CONSULTATII, INVESTIGATII</b></td>
    </tr>
    <tr>
        <td class="twig-style-061">Nr. reg.</td>
        <td class="twig-style-062">Data</td>
        <td class="twig-style-063">Locul consultatiei *</td>
        <td class="twig-style-064">Simptome</td>
        <td class="twig-style-064">Diagnostic</td>
        <td class="twig-style-061">Codul</td>
        <td class="twig-style-065">Prescripţii <br>
            Recomandări**</td>
        <td class="twig-style-066">Nr. zile
            concediu
            medical;
            Nr. certificat
        </td>
        <td class="twig-style-066">Semnatura si parafa</td>
    </tr>
    {% for consultatie in data.consultatii %}
        <tr>
            <td class="twig-style-067">{{ consultatie.nrInreg }}</td>
            <td class="twig-style-067">{{ consultatie.dataConsultatie }}</td>
            <td class="twig-style-067">{{ consultatie.loc }}</td>
            <td class="twig-style-067">{{ consultatie.consultatie }}</td>
            <td class="twig-style-067">{{ consultatie.diagnostic }}</td>
            <td class="twig-style-067"></td>
            <td class="twig-style-067">{{ consultatie.tratament }}</td>
            <td class="twig-style-067"></td>
            <td class="twig-style-068"></td>
        </tr>
    {% endfor %}
</table>
<div>
    *C = cabinet; D = domiciliu.
</div>
<div>
    ** Se va trece semnătura şi parafa medicului după fiecare consultaţie.
</div>
</body>
</html>