<!DOCTYPE html>
<html lang="en">
<head>
<title></title>
    <link href="{{ asset('assets/css/twig-extracted.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/css/twig-templates-extracted.css') }}" rel="stylesheet" type="text/css">
</head>
<body class="tpl-formulare-fisa_psihodiagnostic">
<table class="twig-style-007">
    <tr>
        <td class="twig-style-021">
            <br />
            <div class="twig-style-022">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{ data.owner.denumire }}</b></div>
            <div class="twig-style-022">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>CUI: {{ data.owner.cui }}</b></div>
            <br /><br /><br /><br /><br /><br />
        </td>
        <td class="twig-style-023">
            <img src="{{ asset('assets/sigla_pdf.png') }}" alt="MIND RESET" class="twig-style-024">
        </td>
    </tr>
</table>
<div class="twig-style-069">
    RAPORT DE PSIHODIAGNOSTIC ȘI EVALUARE CLINICĂ
</div>
<div>
    <b>I. Informaţii despre pacient:</b><br><br />
    <table class="twig-style-070">
        <tr>
            <td><b>Nume:</b></td>
            <td>{{ data.pacient.nume }}</td>
            <td><b>Prenume:</b></td>
            <td>{{ data.pacient.prenume }}</td>
        </tr>
        <tr>
            <td><b>Varsta:</b></td>
            <td>{{ data.pacient.varsta }}</td>
            <td><b>Sex:</b></td>
            <td>{{ data.pacient.sex }}</td>
        </tr>
        <tr>
            <td><b>CNP:</b></td>
            <td>{{ data.pacient.cnp }}</td>
            <td><b>Judet:</b></td>
            <td>{{ data.pacient.judet }}</td>
        </tr>
        <tr>
            <td><b>Localitate:</b></td>
            <td>{{ data.pacient.localitate }}</td>
            <td><b>Adresa:</b></td>
            <td>{{ data.pacient.adresa }}</td>
        </tr>
        <tr>
            <td><b>Nr. inregistrare:</b></td>
            <td>{{ data.nrInreg }}</td>
            <td><b>Data examinarii:</b></td>
            <td>{{ data.dataConsultatie }}</td>
        </tr>
    </table>
</div>
<br>
<div>
    <b>II. Obiectivul Psihodiagnosticului şi Evaluării:</b><br><br>
    {% for line in data.obiectiv %}
        {{ line }}<br/>
    {% endfor %}
</div><br>
<div>
    <b>III. Descrierea Succintă a Componentelor Psihologice</b>
</div><br>
<div>
    <b>Nivel Subiectiv/Emoţional (inclusiv Satisfacţia/Calitatea vieţii)</b>
</div><br>
<table class="twig-style-071">
    <tr>
        <td class="twig-style-072"><b>Ce s-a evaluat?</b></td>
        <td><b>Cu ce s-a evaluat? (teste/sarcini/probe şi/sau interviuri)</b></td>
    </tr>
    <tr>
        <td class="twig-style-072">{{ data.evalPsiho.subiectiv_ce ?? '' }}</td>
        <td>{{ data.evalPsiho.subiectiv_cu_ce ?? '' }}</td>
    </tr>
</table><br>
<div>
    <b>Nivel Cognitiv</b>
</div><br>
<table class="twig-style-071">
    <tr>
        <td class="twig-style-072"><b>Ce s-a evaluat?</b></td>
        <td><b>Cu ce s-a evaluat? (teste/sarcini/probe şi/sau interviuri)</b></td>
    </tr>
    <tr>
        <td class="twig-style-072">{{ data.evalPsiho.cognitiv_ce ?? '' }}</td>
        <td>{{ data.evalPsiho.cognitiv_cu_ce ?? '' }}</td>
    </tr>
</table><br>
<div>
    <b>Nivel comportamental</b>
</div><br>
<table class="twig-style-071">
    <tr>
        <td class="twig-style-072"><b>Ce s-a evaluat?</b></td>
        <td><b>Cu ce s-a evaluat? (teste/sarcini/probe şi/sau interviuri)</b></td>
    </tr>
    <tr>
        <td class="twig-style-072">{{ data.evalPsiho.comportamental_ce ?? '' }}</td>
        <td>{{ data.evalPsiho.comportamental_cu_ce ?? '' }}</td>
    </tr>
</table><br>
<div>
    <b>Nivel psihofiziologic</b>
</div><br>
<table class="twig-style-071">
    <tr>
        <td class="twig-style-072"><b>Ce s-a evaluat?</b></td>
        <td><b>Cu ce s-a evaluat? (teste/sarcini/probe şi/sau interviuri)</b></td>
    </tr>
    <tr>
        <td class="twig-style-072">{{ data.evalPsiho.psihofiziologic_ce ?? '' }}</td>
        <td>{{ data.evalPsiho.psihofiziologic_cu_ce ?? '' }}</td>
    </tr>
</table><br>
<div>
    <b>Nivel de personalitate şi Mecanisme Defensive/Adaptare</b>
</div><br>
<table class="twig-style-071">
    <tr>
        <td class="twig-style-072"><b>Ce s-a evaluat?</b></td>
        <td><b>Cu ce s-a evaluat? (teste/sarcini/probe şi/sau interviuri)</b></td>
    </tr>
    <tr>
        <td class="twig-style-072">{{ data.evalPsiho.personalitate_ce ?? '' }}</td>
        <td>{{ data.evalPsiho.personalitate_cu_ce ?? '' }}</td>
    </tr>
</table><br>
<div>
    <b>Nivel de relaţionare interpersonală (inclusiv, de cuplu, familie, grup etc.)</b>
</div><br>
<table class="twig-style-071">
    <tr>
        <td class="twig-style-072"><b>Ce s-a evaluat?</b></td>
        <td><b>Cu ce s-a evaluat? (teste/sarcini/probe şi/sau interviuri)</b></td>
    </tr>
    <tr>
        <td class="twig-style-072">{{ data.evalPsiho.relationare_ce ?? '' }}</td>
        <td>{{ data.evalPsiho.relationare_cu_ce ?? '' }}</td>
    </tr>
</table><br>
<div>
    <b>IV. Concluzii:</b><br><br>
    {% for line in data.concluzii %}
        {{ line }}<br/>
    {% endfor %}
</div><br>
<div>
    <b>V. Recomandări:</b><br><br>
    {% for line in data.recomandari %}
        {{ line }}<br/>
    {% endfor %}
</div><br>
<table class="twig-style-073">
    <tr>
        <td class="twig-style-029"><b>Examinator:</b></td>
        <td class="twig-style-030">{{ data.medic.nume ~ ' ' ~ data.medic.prenume }}</td>
        <td class="twig-style-030"><b>Specialitate:</b></td>
        <td class="twig-style-031">{{ data.medic.denumireSpecialitate }}</td>
    </tr>
    <tr>
        <td class="twig-style-032"><b>Cod parafa:</b></td>
        <td class="twig-style-033">{{ data.medic.codParafa }}</td>
        <td class="twig-style-033"><b>Grad profesional:</b></td>
        <td class="twig-style-034">{{ data.medic.denumireTitulatura }}</td>
    </tr>
</table>
<table class="twig-style-035">
    <tr>
        <td class="twig-style-021">
            <b>{{ "now"|date('d-m-Y') }}</b>
        </td>
        <td class="twig-style-036">
            <b>Semnatura si parafa</b><br/>
        </td>
    </tr>
</table>
</body>
</html>