<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ asset('assets/css/twig-extracted.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/css/twig-templates-extracted.css') }}" rel="stylesheet" type="text/css">
<title></title>
</head>
<body class="tpl-formulare-plata_colaborator">
<table>
    <tr>
        <td>
            <img src="{{ asset('assets/sigla_pdf.png') }}" alt="MIND RESET" class="twig-style-074">
        </td>
        <td class="twig-style-075"></td>
        <td>
            <div class="twig-style-026"><b>{{ dateFirma.denumire }}</b>
                <hr class="twig-style-076">
            </div>
            <div>{{ dateFirma.adresa ~ ', ' ~ dateFirma.localitate ~ ', ' ~ dateFirma.judet ~ ',
                    ' ~ dateFirma.tara ~ ', ' ~ dateFirma.codPostal ~ ', ' ~ dateFirma.telefon ~ ',
                    ' ~ dateFirma.email}}
                <br /><br />
                <b>{{ data.owner }}</b>
                <hr class="twig-style-076">
            </div>
        </td>
    </tr>
</table>
<div class="twig-style-077">
    {{ 'Raport plati ' ~ data.luna ~ ' ' ~ data.an ~ ' - medic colaborator: ' ~ data.medic }}</div>
<table id="table_rapoarte">
    <tr>
        <td class="twig-style-078"><b>Data</b></td>
        <td class="twig-style-078"><b>Nume pacient</b></td>
        <td class="twig-style-078"><b>Prenume pacient</b></td>
        <td class="twig-style-078"><b>CNP pacient</b></td>
        <td class="twig-style-078"><b>Serviciul</b></td>
        <td class="twig-style-078"><b>Suma incasata</b></td>
        <td class="twig-style-078"><b>Procentaj colaborator</b></td>
        <td class="twig-style-078"><b>Suma de plata RON</b></td>
    </tr>
    {% for consultatie in data.consultatii %}
        <tr>
            <td class="twig-style-078">{{ consultatie.dataConsultatie }}</td>
            <td class="twig-style-078">{{ consultatie.numePacient }}</td>
            <td class="twig-style-078">{{ consultatie.prenumePacient }}</td>
            <td class="twig-style-078">{{ consultatie.cnpPacient }}</td>
            <td class="twig-style-078">{{ consultatie.serviciu }}</td>
            <td class="twig-style-078">{{ consultatie.sumaIncasata }}</td>
            <td class="twig-style-078">{{ consultatie.procentajColaborator }}</td>
            <td class="twig-style-078">{{ consultatie.sumaDePlata }}</td>
        </tr>
    {% endfor %}
</table>
<div class="twig-style-079"><b>Total de plata: {{ data.totalDePlata }} RON</b></div>
<div><b>Stare: {{ data.stare }}</b></div>
</body>
</html>