<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ asset('assets/css/twig-extracted.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/css/twig-templates-extracted.css') }}" rel="stylesheet" type="text/css">
<title></title>
</head>
<body class="tpl-formulare-referat_medical">
<table class="twig-style-007">
    <tr>
        <td class="twig-style-021">
            <br />
            <div class="twig-style-022">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{ data.owner.denumire }}</b></div>
            <div class="twig-style-022">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>CUI: {{ data.owner.cui }}</b></div>
            <div class="twig-style-022">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Dr. {{ data.medic.nume ~ " " ~ data.medic.prenume }}</b></div>
            <div class="twig-style-022">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contract/conventie nr. ...............................</div>
            <div class="twig-style-022">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CAS ............................................................</div>
            <br />
        </td>
        <td class="twig-style-023">
            <img src="{{ asset('assets/sigla_pdf.png') }}" alt="MIND RESET" class="twig-style-024">
        </td>
    </tr>
</table>
<div class="twig-style-080">
    <h2><b>REFERAT MEDICAL</b></h2>
</div>
<div class="twig-style-081">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Privind pe dl/dna <b>{{ data.pacient.nume ~ " " ~ data.pacient.prenume }}</b>, nascut la data de {{ data.pacient.dataNasterii }}, CNP <b>{{ data.pacient.cnp }}</b>,
    cu domiciuliul in {{ data.pacient.adresa }}, localitatea {{ data.pacient.localitate }}, judetul/sectorul {{ data.pacient.judet }}, a fost evaluat in
    serviciul nostru la data de <b>{{ data.dataConsultatie }}</b>, nr. registru de consultatii <b>{{ data.nrInreg }}</b>
</div>
<div class="dotted_div twig-style-082">
    <b>Diagnostic clinic:</b><br>

    {% for line in data.diagnostic %}
        {{ line }}<br/>
    {% endfor %}
</div>
<div class="dotted_div">&nbsp;</div>
<div class="dotted_div">&nbsp;</div>
<div class="dotted_div twig-style-082">
    <b>Anamneza *):</b><br>
    <span class="twig-style-083">AHC:</span><br/>
    {% for line in data.ahc %}
        &nbsp;&nbsp;&nbsp;{{ line }}<br/>
    {% endfor %}
    <span class="twig-style-083">APP:</span><br />
    {% for line in data.app %}
        &nbsp;&nbsp;&nbsp;{{ line }}<br/>
    {% endfor %}
</div>
<div class="dotted_div">&nbsp;</div>
<div class="dotted_div">&nbsp;</div>
<div class="twig-style-082">
    <b>Examen obiectiv detaliat *):</b> Î=________ cm, G=________ kg, TA=________ mmHg, AV=________ b/min
    {% for line in data.consultatie %}
        {{ line }}<br/>
    {% endfor %}
</div>
<div class="dotted_div">&nbsp;</div>
<div class="dotted_div">&nbsp;</div>
<div class="dotted_div twig-style-082">
    <b>Investigatii clinice, paraclinice *):</b><br>
    {% for line in data.investigatiiUrmate %}
        {{ line }}<br/>
    {% endfor %}
</div>
<div class="dotted_div">&nbsp;</div>
<div class="dotted_div">&nbsp;</div>
<div class="dotted_div twig-style-082">
    <b>Tratamente urmate *):</b><br>
    {% for line in data.tratamenteUrmate %}
        {{ line }}<br/>
    {% endfor %}
</div>
<div class="dotted_div">&nbsp;</div>
<div class="dotted_div">&nbsp;</div>
<div>
    <div class="dotted_div twig-style-082">
        <b>Observatii:</b><br>
        {% for line in data.observatii %}
            {{ line }}<br/>
        {% endfor %}
    </div>
    <div class="dotted_div">&nbsp;</div>
    <div class="dotted_div">&nbsp;</div>
    <table class="twig-style-084">
        <tr>
            <td class="twig-style-021">
                <b>Data {{ data.dataConsultatie }}</b><br/><br/><br/><br/><br/><br/>
            </td>
            <td class="twig-style-085">
                <b>Semnatura si parafa medicului,</b><br>
                Dr. {{ data.medic.nume ~ " " ~ data.medic.prenume }}<br>
                {{ data.medic.denumireTitulatura ~ " " ~ data.medic.denumireSpecialitate}}<br>
                {{ data.medic.codParafa }}
            </td>
        </tr>
    </table>
    <div class="twig-style-086">
        *) Datele înscrise trebuie sa sustina diagnosticul clinic, stadiul evolutiv al afectiunilor prezentate.
        Pentru bolnavi netransportabili, referatul medical trebuie sa contina date care sa justifice, din punct de vedere
        medical, imposibilitatea deplasarii.</div><hr class="twig-style-087">
</div>
</body>
</html>